---
layout: page
title: "About"
description: "Hey, this is Nick."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        
    </blockquote>
	否定之否定规律揭示了事物发展的前进性与曲折性的统一。
   <br><br>前进性体现在:每一次否定都是质变,都把事物推进到新阶段;每一个周期都是开放的,前一个周期的终点是下一个周期的起点,不存在不被否定的终点。<br><br>曲折性体现在回复性上,其中有暂时的停顿甚至是倒退.但是,曲折性终将为事物的发展开辟道路。<br><br>这表明,事物的发展不是直线式前进,而是螺旋式上升的。
   <br><br>否定之否定规律的原理对于人们的认识和实践活动具有重要的指导意义。按照否定之否定规律办事,就要求我们树立辩证的否定观,反对形而上学地肯定一切或否定一切,而要对事物采取科学分析的态度,使实践活动符合事物自我否定的辩证本性。同时,又要求我们正确看待事物发展的过程,既要看到道路的曲折,更要看到前途的光明。
   <p style="text-align:right;">
    -- 我最喜欢的一段话
    </p>
</div>

<!-- English Version -->
<div class="en post-container">

    The negation law of negation reveals the unity of progressiveness and inflection in the development of things.
The progressiveness of is reflected in that every negation is a qualitative change and pushes things to a new stage.
Each cycle is open, and the end of the previous cycle is the beginning of the next cycle. There is no end without being denied.
The inflexibility of is reflected in the reversion, and there is a temporary pause or even a regression. However, the inflexibility will eventually open the way for the development of things.
<br><br> this shows that the development of things is not straight forward, but spiral upward.
<br><br> principle of negation is of great guiding significance to people's cognition and practice.
According to the rule of negation, we should set up a dialectical negation view, oppose to the metaphysical affirmation or negation of everything, and adopt a scientific analysis attitude towards things, so as to make the practice conform to the dialectical nature of self-denial.
At the same time, it requires us to view the development of things in a correct way, not only to see the twists and turns of the road, but also to see a bright future.

   <p style="text-align:right;">
    -- My favorite quote
    </p>


</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
